<a href="https://colab.research.google.com/github/emky1993/novo-repositorio/blob/main/dinamica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercício 1
'''
x = 5 Int
x = 5.0 Float
x = 5.5 Float
x = 'DNC' String
x = 1/2 Float
x = 0.5*2 Float
x = 2**4 Int
x = 2+4 Int
x = 1000000000 Int
'''
x = int(input('Digite um número inteiro: '))
print(type(x))
x = float(input('Digite um número float: '))
print(type(x))
x = (input('Digite um texto: '))
print(type(x))
x = (input('Digite algo: '))
print(type(x))

Digite um número inteiro: 5
<class 'int'>
Digite um número float: 1.5
<class 'float'>
Digite um texto: jisfisdibsdiufs
<class 'str'>
Digite algo: 10
<class 'str'>

In [ ]:
#Exercício 2
x = 'DS06 - DNC'
print('-'*50)
print('-'*50)
print(' '*(int((50-len(x))/2))+x+' '*(int((50-len(x))/2)))
print('-'*50)
print('-'*50)

--------------------------------------------------
--------------------------------------------------
                    DS06 - DNC
--------------------------------------------------
--------------------------------------------------

In [ ]:
# Exercício 3
salario_cientista_de_dados = 10000.00
parcela_bmw = 2500.45
parcela_apartamento = 3500.50
veterinario_romeuzinho = 500.00
luz = 100.80
agua = 80.35
condominio = 800.44
gas = 150.65
print('*'*100)
print(f'Seu salário de cientista de dados jr é de R${salario_cientista_de_dados:.2f} e seus gastos estão dispostos a seguir')
print('Parcela da BMW = ',parcela_bmw)
print('Parcela do apartamento =',parcela_apartamento)
print('Veterinário do Romeuzinho =',veterinario_romeuzinho)
print('Conta de luz =',luz)
print('Conta de agua =',agua)
print('Conta de condominio =',condominio)
print('Conta de gás =',gas)
saldo = salario_cientista_de_dados - (parcela_bmw+parcela_apartamento+veterinario_romeuzinho+luz+agua+condominio+gas)
print('*'*100)
print(f'O valor disponível para colocar na poupança é de: R${saldo:.2f}')

****************************************************************************************************
Seu salário de cientista de dados jr é de R$10000.00 e seus gastos estão dispostos a seguir
Parcela da BMW =  2500.45
Parcela do apartamento = 3500.5
Veterinário do Romeuzinho = 500.0
Conta de luz = 100.8
Conta de agua = 80.35
Conta de condominio = 800.44
Conta de gás = 150.65
****************************************************************************************************
O valor disponível para colocar na poupança é de: R$2366.81

In [ ]:
#Exercício 4
formacao_de_dados = 20000.00
formacao_de_projetos = 15000.00
formacao_de_marketing = 13000.00
formacao_de_produto = 18000.00
formacao_de_tecnologia = 19000.00
i = True
while i == True:  
  curso = input('Qual curso você quer escolher?\n1 = formacao_de_dados.\n2 = formacao_de_projetos\n3 = formacao_de_marketing\n4 = formacao_de_produto\n5 = formacao_de_tecnologia\n')
  if curso =='1':
    print(f'Parabéns, você escolheu a Formação em Dados no valor de R${formacao_de_dados:.2f}')
    break
  elif curso =='2':
    print(f'Parabéns, você escolheu a Formação em Projetos no valor de R${formacao_de_projetos:.2f}')
    break
  elif curso =='3':
    print(f'Parabéns, você escolheu a Formação em Marketing no valor de R${formacao_de_marketing:.2f}')
    break
  elif curso =='4':
    print(f'Parabéns, você escolheu a Formação em Produto no valor de R${formacao_de_produto:.2f}')
    break
  elif curso =='5':
    print(f'Parabéns, você escolheu a Formação em Tecnologia no valor de R${formacao_de_tecnologia:.2f}') 
    break
  else:
    print('Digite um valor correspondente a um curso de nossas formações')

Qual curso você quer escolher?
1 = formacao_de_dados.
2 = formacao_de_projetos
3 = formacao_de_marketing
4 = formacao_de_produto
5 = formacao_de_tecnologia
1
Parabéns, você escolheu a Formação em Dados no valor de R$20000.00

In [ ]:
#Exercício 5
qtd_dados = int(input('Digite a quantidade de compras do curso de dados: '))
qtd_projetos = int(input('Digite a quantidade de compras do curso de projetos: '))
qtd_marketing = int(input('Digite a quantidade de compras do curso de marketing: '))
qtd_produto = int(input('Digite a quantidade de compras do curso de produto: '))
qtd_tecnologia = int(input('Digite a quantidade de compras do curso de tecnologia: '))
total_compras = qtd_dados + qtd_projetos + qtd_marketing + qtd_produto + qtd_tecnologia
receita = qtd_dados*formacao_de_dados + qtd_projetos*formacao_de_projetos + qtd_marketing*formacao_de_marketing + qtd_produto*formacao_de_produto + qtd_tecnologia*formacao_de_tecnologia
receita_media = receita/total_compras
print(f'Receita total: R${receita:.2f}')
print(f'Ticket médio: R${receita_media:.2f}')
if receita >= 2000000.0:
  print('Parabéns!! A DNC bateu a meta do mês')
else:
  print('Esse mês não batemos a meta, porém mês que vem vamos vir mais forte pra recuperar!!!')

Digite a quantidade de compras do curso de dados: 40
Digite a quantidade de compras do curso de dados: 50
Digite a quantidade de compras do curso de dados: 10
Digite a quantidade de compras do curso de dados: 70
Digite a quantidade de compras do curso de dados: 1
Receita total: R$2959000.00
Ticket médio: R$17304.09
Parabéns!! A DNC bateu a meta do mês

In [ ]:
#Exercício 6
x = int(input('Digite o em qual posição o somatório sera finalizado: '))
s = 0
for i in range(1,x+1):
  s += i
print(s)

Digite o em qual posição o somatório sera finalizado: 10
55

In [ ]:
#Exercício 7
a = True
print('p = Pula para próxima música\nqualquer outra tecla = Fechar aplicativo ')
while a == True:
  x = input('')
  if x =='p':
    print('Próxima música')
  else:
    print('Fechando o app')
    print('Até a próxima')
    break

p = Pula para próxima música
qualquer outra tecla = Fechar aplicativo
p
Próxima música
p
Próxima música
p
Próxima música

Fechando o app
Até a próxima

In [ ]:
#Exercício 8
nomes = []
x = input('Informe nome: ')
nomes.append(x)
y = input('Informe nome: ')
nomes.append(y)
z = input('Informe nome: ')
nomes.append(z)
for i in nomes:
  print(f'Parabens por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,{i}')

Informe nome: Erick
Informe nome: João
Informe nome: Luiz
Parabens por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,Erick
Parabens por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,João
Parabens por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,Luiz

In [ ]:
#Exercício 9
notas = []
a = True
soma = 0
while a == True:
  x = int(input('Digite o valor da cédula ou 0 caso finalizado: '))
  if x == 0:
    for i in notas:
      soma +=i
    print(f'O valor total é : R${soma:.2f}')
    break
  elif x != 2 and x != 5 and x != 10 and x != 20 and x != 50 and x != 100 and x !=200:
    print('Valor inválido')
  else:
    notas.append(x)
print(notas)

Digite o valor da cédula ou 0 caso finalizado: 1
Valor inválido
Digite o valor da cédula ou 0 caso finalizado: 5
Digite o valor da cédula ou 0 caso finalizado: 4
Valor inválido
Digite o valor da cédula ou 0 caso finalizado: 2
Digite o valor da cédula ou 0 caso finalizado: 200
Digite o valor da cédula ou 0 caso finalizado: 100
Digite o valor da cédula ou 0 caso finalizado: 50
Digite o valor da cédula ou 0 caso finalizado: 20
Digite o valor da cédula ou 0 caso finalizado: 2
Digite o valor da cédula ou 0 caso finalizado: 2
Digite o valor da cédula ou 0 caso finalizado: 5
Digite o valor da cédula ou 0 caso finalizado: 0
O valor total é : R$386.00
[5, 2, 200, 100, 50, 20, 2, 2, 5]

In [ ]:
#Exercício 10
alunos = []
aluno = {}
print()
for i in range(1,5+1):
  aluno['nome'] = input('Digite nome: ')
  aluno['rid'] = input('Digite RID: ')
  aluno['idade'] = input('Digite a idade: ')
  aluno['cidade'] = input('Digite a cidade: ')
  aluno['cargo'] = input('Digite o cargo no time de projeto: ')
  alunos.append(aluno.copy())
for i in alunos:
  for k,v in i.items():
    print(f'{k}: {v}')
  print()

Digite nome: Erick
Digite RID: 22
Digite a idade: 29
Digite a cidade: sjc
Digite o cargo no time de projeto: PO
Digite nome: joao
Digite RID: 123
Digite a idade: 21
Digite a cidade: sjc
Digite o cargo no time de projeto: sm
nome: Erick
rid: 22
idade: 29
cidade: sjc
cargo: PO

nome: joao
rid: 123
idade: 21
cidade: sjc
cargo: sm

In [ ]:
#Exercício 11
def soma(x):
  s = 0
  for n in x:
    s += n
  print(f'O total é : R${s:.2f}')

notas=[]
a = True
while a == True:
  x = float(input('Digite o valor da nota ou 0 para finalizar: '))
  if x == 0:
    soma(notas)
    break
  elif x != 2 and x != 5 and x != 10 and x != 20 and x != 50 and x != 100 and x !=200:
    print('Valor inválido')
  else:
    notas.append(x)

Digite o valor da nota ou 0 para finalizar: 5
Digite o valor da nota ou 0 para finalizar: 2
Digite o valor da nota ou 0 para finalizar: 10
Digite o valor da nota ou 0 para finalizar: 0
O total é : R$17.00